body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

body{
    background: linear-gradient(rgba(95, 114, 190, .8), rgba(155, 35, 234, .7)), url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    color:rgb(233, 222, 236);
}

.logo{
    height: 80px;
    margin-top: 20px;
}

.texto1{
    letter-spacing: 3px;
    font-family: Arial;
}

.form-control {
    background: rgb(247, 146, 135, .40);
    color: snow;
}

a .fab{
    color: snow;
    font-size: 40px;
    margin: 0 10px;
}